# Temporary KiCad files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# mbed files
.mbed
BUILD/
.build/
venv/
mbed_settings.*
.hgignore
.hg/
mbed_config.h
mbed-memory-status.lib
mbed-os/

# ASF Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec
*.lss
*.bin
[Dd]ocumentation/
[Ee]xamples/

# MacOS
.DS_Store
